.btn {
  display: block;
  margin-top: 5px;
  margin-left: 2em;
  background-color: #ecbc55;
}

/* .hidden {
  display: none;
} */

#userInput {
  
}

#result {
margin-top: 20em;
}

body {
  background-color: #432c51;
  color: #54a4af;
}

.container {
  background-color: #535474;
  margin-top: 5.5em;
  
}

