.btn {
  background-color: #ecbc55;
}

.hidden {
  display: none;
}


#result {
padding-top: 1em;
}

body {
  background-color: #f9fbfc;
  color: black;
}

.container {
  background-color: #a0dbdb;
  width: max-content;
  height: 32em;
  margin-top: 6em;
  border-radius: 1em;
  box-shadow: 10px 10px 5px lightslategray;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto Mono', monospace;
  }

#greeting {
  padding-top: 10px;
  font-family: 'Permanent Marker', cursive;
font-family: 'Roboto Mono', monospace;
}
#ageInputs {
  margin-top: 1em;
}
#seasonInput {
  margin-top: 1em;
}

#weekDayInput {
  margin-top: 1em;
}

#catsOrDogsInput {
  margin-top: 1em;
}


#buttonContainer {
  margin-top: 3em;

}

#cartWheelContainer {
  margin-top: 1em;
}

