.btn {
  background-color: #ecbc55;
}

.hidden {
  display: none;
}


#result {
padding-top: 1em;
}

body {
  background-color: #f9fbfc;
  color: black;
}

.container {
  background-color: #a0dbdb;
  width: max-content;
  height: 38em;
  margin-top: 6em;
  border-radius: 1em;
  box-shadow: 10px 10px 5px lightslategray;
  
}

#greeting {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#buttonContainer {
  padding-top: 13em;

}